.completed {
    text-decoration-line: line-through;
    opacity: .5;
}
#spinner {
    display: none;
    text-align: center;
}
#spinner img {
    width: 300px;    
}
.custom-checkbox {
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}
.todo-text {
    font-size: 1.5em;
}